.app{
        background-size: 100% 230px;
        background-repeat: no-repeat;
        min-height: 100vh;
}
.wrapper{
    width: 85%;
    margin: 0 auto;
}
header{
    padding-top: 3rem;
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: space-between;
}
.title{
    text-transform: uppercase;
    color: var(--LTveryLightGray);
    letter-spacing: 0.55ch;
    font-size: 2rem;
}
.theme-icon{
    width: 1.45rem;
    height: 1.45rem;
}
.create-todo{
    padding: 1rem 0;
    display: flex;
    place-items: center;
}
.close {
    position: absolute;
    right: 0;
    align-self: center;
    padding-right: 1rem;
}
.card{
    position: relative;
    margin: 1.15rem 0;
    margin-bottom: 0.5rem;
    background-color: var(--LTveryLightGray);
    border-radius: 7px;
    padding-bottom: 1.2rem
}
.container {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: left;
    grid-auto-flow: column;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--LTlightGrayishBlue);
}
:focus.todo-input {
        outline: none;
}
.todo-input{
    margin-left: 1.1rem ;
    min-width: 55%;
    border: none;
    background: transparent;
    color: var(--LTveryDarkGrayishBlue);
}
.todo-text{
    padding-left: 0.5rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    color: var(--LTveryDarkGrayishBlue);
    justify-self:left;
    width: 100%;
}
.check{
    padding: 0.12rem 0.3rem;
    border-radius: 50%;
    border:1px solid var(--LTveryGrayishBlue);
    margin-left: 1rem;
    justify-self: start;
}

.list-end{
    margin: 0 1rem;
    padding: 1.2rem 0;
    font-size: 0.9rem;
    color: var(--LTdarkGrayishBlue);
}
.items-left{
    float: left;
}
.clear-items{
    float: right;
}
.options-container{
    padding: 1.2rem 0;
    display: flex;
    justify-content: center;
    margin: 1.15rem 0;
    background-color: var(--LTveryLightGray);
    border-radius: 7px;
}
.filter{
    padding: 0 0.3rem;
    color: var(--LTdarkGrayishBlue);
    font-size: 1rem;
    z-index: 3;
}
.instruction{
    margin-top: 3rem;
    color: var(--LTdarkGrayishBlue);
    text-align: center;
    font-size: 1rem;
}
.filter:hover,.check:hover,.close:hover,.theme-icon:hover,.clear-items:hover{
    cursor: pointer;
}
.checked{
    background:var(--PrimaryCheckBg);
}
.non-active{
    color: var(--LTlightGrayishBlue);
    text-decoration: line-through;
}
.light-bg{
    background-image: url(../images/bg-mobile-light.jpg);
    background-color: var(--LTlightGrayishBlue);
}
.dark-bg {
    background-image: url(../images/bg-mobile-dark.jpg);
    background-color: var(--DTveryDarkBlue);
}
.dark-card{
    background-color: var(--DTveryDarkDesaturatedBlue);
}
@media screen and (min-width: 1000px) {
        .wrapper {
            width: 45%;
        }
        .list-end{
            position: absolute;
            bottom: -3.4rem;
            width: 95%;
        }
        .todo-list{
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .options-container{
            margin-top: 0;
        }
        .todo-text{
            font-size: 1rem;
        }
        .light-bg{
            background-image: url(../images/bg-desktop-light.jpg);
        }
        .dark-bg {
            background-image: url(../images/bg-desktop-dark.jpg);
        }
       
}